<nav>
    <ol>
        <li>
            <a href="{{ url_for ('index')}}">Statement List</a>
        </li>
        {% if current_user.is_authenticated %}
            <li>
                <a href="{{ url_for ('logout')}}">Log in</a>
            </li>
            <li>
                <a href="{{ url_for ('add_post')}}">Sign in</a>
            </li>
            <li>
                <a href="{{ url_for ('add_post_form')}}">Log out</a>
            </li>
        {% else %}
            <li>
                <a href="{{ url_for ('sign_up_form')}}">Log in(Flask Form)</a>
            </li>
            <li>
                <a href="{{ url_for ('sign_in_form')}}">Sign in(Flask Form)</a>
            </li>
            <li>
                <a href="{{ url_for ('sign_up_form')}}">Add post</a>
            </li>
            <li>
                <a href="{{ url_for ('sign_in_form')}}">Add post(Flask Form)</a>
            </li>
    </ol>
</nav>