<nav>
    <ol>
        <li>
            <a href="{{ url_for ('index')}}">Statement List</a>
        </li>
        <li>
            <a href="{{ url_for ('sign_up')}}">Log in</a>
        </li>
        <li>
            <a href="{{ url_for ('sign_in')}}">Sign in</a>
        </li>
        <li>
            <a href="{{ url_for ('logout')}}">Log out</a>
        </li>
        <li>
            <a href="{{ url_for ('sign_up_form')}}">Log in(Flask Form)</a>
        </li>
        <li>
            <a href="{{ url_for ('sign_in_form')}}">Sign in(Flask Form)</a>
        </li>
        <li>
            <a href="{{ url_for ('add_post')}}">Add post</a>
        </li>
        <li>
            <a href="{{ url_for ('add_post_form')}}">Add post(Flask Form)</a>
        </li>
    </ol>
</nav>